TELEGRAM_BOT_TOKEN=
APP_ENV=production

POSTGRES_DB=cenabobot
POSTGRES_USER=cenabobot_user
POSTGRES_PASSWORD=change_this_strong_password

DATABASE_URL=postgresql+asyncpg://cenabobot_user:change_this_strong_password@db:5432/cenabobot

ALLOWED_USER_IDS=
ALLOWED_CHAT_IDS=
